@import url('https://fonts.googleapis.com/css?family=Roboto:300');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #181818;
    color: #fff;
    margin: 0;
    padding: 0;
}    

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

#wrapper {
    display: flex;
    flex-direction: row;
}

#kiri {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#kanan {
    flex: 1;  
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

/* Logo */


/*Login*/
#signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 1rem;

    form {
        width: 80%;
        padding-bottom: 3rem;
    }

    .logo {
        margin: 1.4rem 0;
        img {
            height: 48px;
        }
    }
    label {
        font-size: 0.8rem;
        line-height: 1.6rem;
        font-weight: 500;
    }

    .text-input {
        margin-bottom: 1.2rem;
        width: 100%;
        border-radius: 2px;
        background: #181818;
        border: 1px solid #555555;
        color: #cccccc;
        padding: 0.5rem 1rem;
        line-height: 1.3rem;
    }

    .links a {
        display: block;
        color: #ffffff;
        text-decoration: none;
        margin-bottom: 1rem;
        text-align: center;
        font-size: 0.8rem;
    }
    .atau {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
        align-items: center;

        .bar {
            flex: auto;
            border: none;
            height: 1px;
            background: #aaa;            
        }

        span {
            color: #ccc;
            padding: 0 0.8rem;
        }
    }

    .primary-btn {
        width: 100%;
    }
}

#signin .secondary-btn,
.atau,
.links {
    width: 60%;
}

/* Showcase */
#showcase {
    display: flex;
    background: url('../images/03.jpg') no-repeat center center / cover;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .showcase-text {
        text-align: center;
        font-size: 3rem;
        width: 100%;
        color: #fff;
        margin-bottom: 1.5rem;

        strong {
            color: orangered;
        }
    }

    .secondary-btn {
        width: 60%;
        margin: auto;
    }
}

/* Footer */
#main-footer {
    color: #ccc;
    text-align: center;
    font-size: 0.8rem;
    max-width: 80%;
    padding-top: 3rem;

    a {
        color: #f96816;
        text-decoration: underline;
    }
}


/* Button */
.primary-btn {
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 0;
    border-radius: 2px;
    font-weight: 500;
    background: #f96816;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
    
    &:hover {
        background-color: #ff7b39;
    }
}

.secondary-btn {
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 2px solid #f4f4f4;
    border-radius: 2px;
    font-weight: 500;
    background: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
    
    &:hover {
        border-color: #ff7b39;
        color: #ff7b39;
    }
}

/* Media Queries */
@media (min-width: 1200px) {
    #kiri {
        flex: 4;
    }
    #kanan {
        flex: 6;
    }
}

@media (max-width: 768px) {

    body {
        overflow: auto;
    }

    #kanan {
        display: none;        
    }

    #kiri {
        //justify-content: start;
        margin-top: 0;
    }

    #signin .logo {
        margin-bottom: 2vh;
    }

    #signin .text-input {
        margin-bottom: 0.7rem;
    }

    #main-footer {
        //padding-top: 1rem;
        padding-bottom: 2rem;
    }
}